{% extends 'base.html' %}

{% block content %}

<div class = "container">
    <h1 style = "font-size: 40px">Data Input for Prediction Model</h1>
</div>

<div class = "container">
    <div class = "col-md-6">
        <div class = "card mt-30">
            <div class = "card-body">
                <form class = "form" action= "{{url_for('index')}}" method = "POST">
                    <label for = "age">Age</label>
                    <input type = "number" name = "age" id = "age" class = "form-control"><br>

                    <label for = "sex">Sex</label><br>
                    <input class="form-check-input" type="radio" name="sex" value = "0" required>
                    <label class="form-check-label ms-2" for = "male">Male</label>
                    <input class="form-check-input" type="radio" name="sex" value = "1" required>
                    <label class="form-check-label ms-2" for = "female">Female</label><br>

                    <label for = "height">Height</label>
                    <input type = "text" name = "height" id = "height" class = "form-control" placeholder = "Height should be in cm"><br>

                    <label for = "weight">Weight</label>
                    <input type = "text" name = "weight" id = "weight" class = "form-control" placeholder = "Weight should be in kg"><br>

                    <label for = "children">No. of Children</label>
                    <input type = "number" name = "children" id = "children" class = "form-control"><br>
                    
                    <label for = "smoker">Are you a Smoker?</label><br>
                    <input class="form-check-input" type="radio" name="smoker" value = "1" required>
                    <label class="form-check-label ms-2" for = "yes">Yes</label>
                    <input class="form-check-input" type="radio" name="smoker" value = "0" required>
                    <label class="form-check-label ms-2" for = "no">No</label>
                    <br><br>

                    <input type = "submit" class = "btn btn-primary btn-block btn-lg" value = "Predict">

                    {% if data %}
                    <div>The predicted medical costs for you is ${{data}}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}